.register-container {
  font-size: 18px;
  max-width: 600px;
  margin: 2rem auto;
  padding: 2rem;
  border: 0px solid #ddd;
  border-radius: 20px;
  margin-top: 15px;
}

/* .register-form .form-group {
} */

.register-form label {
  display: block;
  margin-bottom: 0.5rem;
}

.register-form input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.register-form button.btn {
  margin-top: 15px;
  font-size: 20px;
  width: 100%;
  padding: 1rem;
  background-color: #333;
  color: white;
  border-radius: 20px;
}
